PORT=3000
MONGODB_URI=mongodb://root:rootpassword@localhost:27017/helpdesk?authSource=admin
JWT_SECRET=your_jwt_secret_here_code_test_a
JWT_EXPIRES_IN=24h
NODE_ENV=development

WEB_URL=http://localhost:5173